
@font-face {
    font-family: 'freshman';
    src: url('../assets/fonts/freshman-webfont.woff2') format('woff2'),
         url('../assets/fonts/freshman-webfont.woff') format('woff'),
         url('../assets/fonts/Freshman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'altehaasbold';
    src: url('../assets/fonts/altehaasgroteskbold-webfont.woff2') format('woff2'),
         url('../assets/fonts/altehaasgroteskbold-webfont.woff') format('woff'),
         url('../assets/fonts/AlteHaasGroteskBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'altehaas';
    src: url('../assets/fonts/altehaasgroteskregular-webfont.woff2') format('woff2'),
         url('../assets/fonts/altehaasgroteskregular-webfont.woff') format('woff'),
         url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal
}