#como-funciona {
    background: $font-color-primary;
    padding-bottom: 4rem;
}

.steps {
    align-items: center;
   // display: flex;
    display:grid;
    justify-content: center;
    //flex-wrap: wrap;
    //flex-direction: row;
    grid-template-columns: repeat(5,1fr);

    @media(max-width:670px){
        grid-template-columns: repeat(3,2fr);
    }

    &__item {
        margin: 1rem;
        //width: calc(80% / 5 - 1rem);
        text-align: center;
        font-size:1.1rem;
        span {
            color: $color-secondary;
        }
        &:hover{
            animation: pulse;
            animation-duration: 1s;
        }
    }

}