#como-funciona {
    background: $font-color-primary;
    padding-bottom: 4rem;
}

.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    &__item {
        margin: 1rem;
        width: calc(80% / 5 - 1rem);
        text-align: center;
        font-size:1.1rem;
        span {
            color: $color-secondary;
        }
        &:hover{
            animation: pulse;
            animation-duration: 1s;
        }
    }

}